.tasksContainer{
    position: absolute;
    top: 10.812rem;
    left: 22rem;
    right: 22rem;
}
.newTaskContainer{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.taskListContainer
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tasksInfoContainer{
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

.taskListContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28.187rem;
}