.createButton{
    width: 5.625rem;
    height: 3.25rem;
    background-color: var( --blue );
   cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var( --gray-100 );
    border-radius: 8px;
    font-weight: bold;
    border: none;
}

.trashButton{
    border: none;
    background-color: transparent;
    cursor: pointer; 
}

.trashIcon{
    fill: var( --gray-300 );
}

.trashIcon:hover{
    fill: var( --danger );
}

.createIcon{
    color: var( --gray-100 );
    background-color: transparent;
}